:root {
    --bgColour: #fff;
}

body {
    background: var(--bgColour);
}

#chat-window {
    border: 3px solid black;
    border-radius: 5px;
    min-height: 65vh;
}

#output {
    margin: 5px 0;
    padding: 5px 10px;
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: scroll;
    word-wrap: break-word;
}

#status-text {
    height: 40px;
}